<div id="orders" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_basket</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Employee Data</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper ml-sm-16"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="orders-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *cdkCellDef="let order">
                        <p class="text-truncate">{{order.refrenceNo}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Reference Column -->
                <ng-container cdkColumnDef="reference">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Reference</mat-header-cell>
                    <mat-cell *cdkCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{order.reportingPerson}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container cdkColumnDef="customer">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Customer</mat-header-cell>
                    <mat-cell *cdkCellDef="let order">
                        <p class="text-truncate">
                            {{order.fullName}}

                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Total Price Column -->
                <ng-container cdkColumnDef="total">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Total</mat-header-cell>
                    <mat-cell *cdkCellDef="let order" fxHide fxShow.gt-md>
                        <p class="total-price text-truncate">
                            {{order.basicSalary | currency:'USD':'symbol'}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Payment Column -->
                <ng-container cdkColumnDef="payment">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Payment</mat-header-cell>
                    <mat-cell *cdkCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                          {{order.gross_Salary | currency:'USD':'symbol'}}

                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container cdkColumnDef="status">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header >Status</mat-header-cell>
                    <mat-cell *cdkCellDef="let order">
                        <p class="status text-truncate h6 p-4">
                            {{order.department}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container cdkColumnDef="date">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Date</mat-header-cell>
                    <mat-cell *cdkCellDef="let order" fxHide fxShow.gt-sm>
                        <p class="text-truncate">
                            {{order.dateOfLeaving}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let order; columns: displayedColumns;"
                         class="order"
                         matRipple
                         [routerLink]="'/apps/e-commerce/orders/'+order.id">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
